.live-user-online {
    width: 100%;
    float: left;
    bottom: 12px;
    position: relative; padding-left: 1.5%;
}
.live-user-online h3 {
    float: left;
    font-size: 20px;
    color: #707070;
    top: 16px;
    position: relative;
}
.live-user-online span {
    width: 50px;
    height: 50px;
    float: left;
}
.live-user-online span img {
    width: 50px;
    height:50px;
}
.search-slide2 .item img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: solid 3px #9775fe;
    padding: 5px;
    margin: auto;
}
.search-slide .owl-nav {
    position: absolute;
    top: -95px;
    right: 0px;
}
.search-slide .owl-nav button.owl-prev{
    display:none
}
.search-slide .owl-nav button.owl-next span {
    font-size: 47px;
    color: #9b9797;
}
.search-slide .owl-nav button.owl-next:hover {
 background: #fff;
}
.search-slide .owl-nav button.owl-next span:hover {
    color: #9775fe; background: #fff;
}
ul.search-user-list2 {
    width: 100%;
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin-top: 40px;margin-left: 2.5%;
}
ul.search-user-list2 li {
    width: 17%;
    margin-bottom: 30px;
    float: left;
    margin-right: 3%;
}
.add-bannerall img {
    width: 263px;
    height: 220px;
    object-fit: cover;
}
.add-nbanner-left2{
    border-radius: 0px; padding-bottom: 0px;
}
.add-nbanner-left2 img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.add-nbanner-left2{
    min-height: auto;
}
ul.search-user-list2 .user-search-profile2 {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 20px;
}
.user-search-icon {
    width: 100%;
    float: left;
    margin-top: 11px; margin-bottom: 12px;
}
ul.search-user-list2 .user-search-icon span {
    padding: 0px 2px;
    width: 30px;
    height: 31px; cursor: pointer;
}
.user-search-icon span img{
    width: 30px;
    height: 31px;
}
.user-details-row {
    width: 100%;
    float: left;
}
ul.search-user-list2 .user-details-row h5 {
    width: 80%;
    float: left;
    text-align: left;
    font-size: 15px; 
    
}
.user-details-row h5 a{
    color: #6c6c6c;
}
.user-details-row h5 a:hover{
    color: #9775fe;
}
ul.search-user-list2 .user-details-row span {
    width: 20%;
    float: right;
    color: #ff1919; font-size: 16px; text-align: right;
}
ul.search-user-list2 .user-details-row h6 {
    width: 76%;
    float: left;
    font-size: 11px;
    text-align: left;margin-bottom: 5px;
}
ul.search-user-list2  .user-details-row button {
    padding: 0px 0px;
    float: right;
    font-family: segoeui;
     width:15px;
    font-size:9.5px;
    border-radius: 40px;
    line-height: 15px;
    padding-bottom: 1px;
    padding-right: 4px;
    height: 15px;
    position: relative;
}
.btn-success {
    color: #fff;
    background-color: #0ba05b;
    border-color: #0ba05b;
}
ul.search-user-list2  .user-search-details p {
    width: 107%;
    float: left;
    text-align: left;
    font-size: 11px;
    font-weight: bold; height: 36px;
}
.pagination-list ul.pagination {
    width: auto;
    margin: auto;
    display: inline-flex; margin-top: 20px;
}
.pagination-list .page-link {
    padding: 4px;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    color: #9272fd;
    border: solid 2px #b9b9b9;
    line-height: 19px;
}
.pagination-list ul.pagination li {
    margin-left: 19px;
    /* padding: 3px 10px; */
}
.pagination-list .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #9272fd;
    border-color: #a28af3;
}
li.pagi-list-next-pre a {
    width: 70px !important;
    border-radius: 40px !important;
    font-size: 26px;
}
.custom-owl-featured ul.search-user-list li {
    width: 100%;
}
.custom-owl-featured .user-search-icon span img{
    width: 30px !important;
}
.custom-owl-featured .user-search-icon{
    display: inline-flex;
}
.user-search-icon-inner {
    width: 103px;
    margin: auto;
    display: flex;
    
}
.custom-owl-featured ul.search-user-list{
    margin-top: 10px; margin-left: 0px;
}
.custom-owl-featured2  ul.search-user-list .user-search-profile{
    height: 200px !important;
}
.custom-owl-featured{
    width: 96%; margin-left: 2%;
}
.custom-owl-featured .user-details-row h5{
    font-size: 18px;
}
.custom-owl-featured .user-details-row h6 {
    font-size: 12px;
}
.custom-owl-featured  .user-search-details p {
    font-size: 14px;color: #707070;
}
.custom-owl-featured .owl-nav {
    position: absolute;
    width: 100%;
    top:80px;
}
.custom-owl-featured .owl-nav button.owl-prev {
    left: -40px;
    position: absolute;
}
.custom-owl-featured .owl-nav button.owl-prev span {
    font-size: 47px !important;
    color: #9b9797;
}
.custom-owl-featured .owl-nav button.owl-prev span:hover{
    color: #9775fe;
}
.custom-owl-featured .owl-nav button.owl-prev:hover{
    background: transparent; 
}
.custom-owl-featured .owl-nav button.owl-next{
right: -40px;position: absolute;
}
.custom-owl-featured .owl-nav button.owl-next span{
    font-size: 47px !important;
    color: #9b9797;
    }
    .custom-owl-featured .owl-nav button.owl-next span:hover{
        color: #9775fe;
    }
    .custom-owl-featured .owl-nav button.owl-next:hover{
        background: transparent; 
    }
    .search-slide {
        margin-left: 1.5%;
    }
    ul.search-user-list2 .user-search-profile {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 20px; margin-bottom: 12px;
    }

    .online-user-all{
        width: auto;
        display: table;
        margin: auto;
    }
.border-h5{
    border-bottom: solid 1px #d7d7d7;
    padding-bottom: 7px;
}
.online-user-status{
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
}
.border-right-online:after{
    width: 1px;
    height:30px;
    background: #ddd;
    content: '';
    position: absolute;
    right: 0px;
    top: 10px;
}
.online-user-status h6{
    font-size: 14px;
    margin-bottom: 0px;
}
.online-user-status h4{
    font-size: 16px;
    margin-top: 4px;
}
.left-nav li img {
    width: 33px;
    margin-right: 4px;
}
.left-nav li{
    margin-bottom: 5px !important;
    border-bottom: solid 1px #f2efef;
    padding-bottom: 4px;
}
.left-nav li a{
    color: #888084; font-weight: normal;
}
.left-nav li a:hover{
    color: #866cf3;
}
.left-nav li a {
    color: #888084;
    font-weight: normal;
    font-family: segoeui;
}
    @media (min-width:200px) and (max-width:1136px) {
        ul.search-user-list2 li {
            width: 23%;
        }
        ul.search-user-list2 .user-search-profile {
            height: 170px;
        }
    }

    @media (min-width:200px) and (max-width:1082px) {
        .search-slide2 .item img {
            width: 90px;
            height: 90px;
    }

    .search-slide{
        margin-left: 0px !important;
    }
}
@media (min-width:200px) and (max-width:900px) {
ul.search-user-list2 li {
    width: 30%;margin-right: 2.5%;
}
}
@media (min-width:200px) and (max-width:882px) {
    .search-slide2 .item img {
        width: 70px;
        height: 70px;
    border: solid 2px #9775fe;
    padding: 2px;
}
}

@media (min-width:200px) and (max-width:767px) {
.add-bannerall img {
    margin-bottom: 42px;
    border: solid 1px #ddd;
}
.left-nav li{
    margin-bottom: 0px !important;padding-bottom: 1px Im !important;width: 50% !important;font-size: 13px;
}
.left-nav li img {
    width: 24px;margin-right: 0px;
}
.mar-top-left{
    margin-top: -344px;  
}
.mar-top-responsive{
    margin-top: 20px  !important;
}
}
@media (min-width:200px) and (max-width:580px) {
.search-res{
    width: 102% !important;
    }
    .pagination-list .page-link {
        padding: 1px;
        width: 24px;
        height: 24px;
        border: solid 1px #b9b9b9;
        line-height: 19px;
        font-size: 13px !important;
    }
    li.pagi-list-next-pre a {
        width: 44px !important;
        font-size: 28px !important;
    }
    .pagination-list ul.pagination li {
        margin-left: 7px;
    }
}
@media (min-width:200px) and (max-width:580px) {
    ul.search-user-list2 li {
        width: 46%;
        margin-right: 3.5%;
    }
    ul.search-user-list2 .user-search-profile {
        height: 210px;
    }
}
@media (min-width:200px) and (max-width:450px) {
.search-res{
width: 103.5% !important;
}
.search-slide2 {
    left: 2%;
}
.search-slide2 .item img {
    width: 50px;
    height: 50px;
    border: solid 1px #9775fe;
    padding: 1px;
}
ul.search-user-list2 li {
    width: 100%;
    margin-right: inherit;
    margin: auto;
}
ul.search-user-list2 .user-search-profile {
    height: 300px;
}
ul.search-user-list2 .user-details-row h5 {
    font-size: 20px;

}
ul.search-user-list2 .user-details-row h6 {
    font-size: 12px;
}
ul.search-user-list2 .user-search-details p {
    font-size: 13px;
}
ul.search-user-list2 {
    margin-left: 3.5%;
}
}
@media (min-width:200px) and (max-width:338px) {
    .search-slide2 .item img {
        width: 38px;
        height: 38px;
    
    }
}