
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
/* font-family: 'Open Sans', sans-serif; */
/* ========================
=====================page index =====================
## custom-all-modal
## modal css
## inneer page css
## covid-modal
=================================*/
body {
  font-family: GothamRounded !important;
  background: #fcfbfb;padding-right: inherit  !important;
}

@font-face {
  font-family:corbelb;
  src: url(../src/assets/font/corbelb.ttf);
}

@font-face {
  font-family:encino;
  src: url(../src/assets/font/encino.ttf);
}
@font-face {
  font-family:arialRounded;
  src: url(../src/assets/font/ArialRoundedFont.ttf);
}
@font-face {
  font-family: GothamRounded;
  src: url(../src/assets/font/GothamRounded-Bold.otf);
}

@font-face {
  font-family: GothamRoundedlight;
  src: url(../src/assets/font/GothamRounded-Light.otf);
}
@font-face {
  font-family: GothamRoundedmedium;
  src: url(../src/assets/font/GothamRounded-Medium.otf);
}
@font-face {
  font-family: segoeui;
  src: url(../src/assets/font/segoeui.ttf);
}  
@font-face {
  font-family: times;
  src: url(../src/assets/font/times.ttf);
}  
a{
  text-decoration: none !important;
}
.sub-p {
  margin-top: 0px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #868383;
}
.min-height-all{
  min-height: 500px;
}
.login-remember .form-check {
  margin-top: 6px;
}
.login-remember input{
  top:4px;
}
.float-right-all{
  float: right;
}
.float-left-all{
  float: left;
}
.link-color a{
  color: #707070 !important; position: relative; z-index: 9;
}
.link-color a:hover{
  color: #866cf3 !important;
}
.hr-color {
  background: #a1a1a1;
}
.color-blue-link a{
  color: #0621e7 !important;
}
p.all-login-p {
  font-family: segoeui;
  color: #7e7d7d;
  font-size: 15px;
  margin-top: 6px;
}

h2.navLogo img {
  width: 180px;
}
.bg-all-pages {
  background: #fff;
    padding:36px;
    border-radius: 14px 14px 0 0 !important;
    margin-top: -344px !important;
    position: relative;
    z-index: 9; color: #6c6c6c;
    margin-bottom: 120px;
}
.all-title-top h4 {
  font-size: 38px;font-family: GothamRounded !important;
}

.to-span{
  line-height: 47px;
    font-size: 18px;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
button.all-btn-round {
  background: -moz-linear-gradient(to right, #6d43ff 0%, #8d46ff 100%);
	background: -webkit-linear-gradient(to right, #6d43ff 0%, #8d46ff 100%);
	background: -ms-linear-gradient( to right, #6d43ff 0%, #8d46ff 100%);
    background:linear-gradient(to right, #6d43ff 0%, #8d46ff 100%); 
  width: 400px;
  height: 56px;color: #fff; border: solid 1px #7685e9 !important;
  font-size: 18px;padding: 8px 38px;
  border-radius: 50px;font-family: 'Open Sans', sans-serif;position: relative;margin: auto; text-align: left;
  display: table;
}
button.all-btn-round:hover{
  background: -moz-linear-gradient(to right, #8d46ff 0%, #6d43ff 100%);
	background: -webkit-linear-gradient(to right, #8d46ff 0%, #6d43ff 100%);
	background: -ms-linear-gradient( to right, #8d46ff 0%, #6d43ff 100%);
    background:linear-gradient(to right, #8d46ff 0%, #6d43ff 100%);   
}
.position-arrow {
  position: absolute;
  right: 34px;
  top: 16px;
}
.font-segoeui{
  font-family: segoeui !important;
}
.row{
  width: 100%;
  }
  .form-select:focus {
    border-color:#627280 !important;
    box-shadow: none !important;
  }
  .drop-down-custom{
    float:right;
  }
  .drop-down-custom button {
    background: transparent;
    border: 0px;color: #333;
    font-size: 14px;
    padding: 0px 8px;
    width: 100%;
    text-align: left;
  }
  .drop-down-custom .dropdown-menu:after{
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
  border-top: solid 8px #fff;
  border-bottom: solid 7px transparent;
  content: '';
  position: absolute;
  left: 10px;
  width: 11px;
  height: 20px;
  bottom: -19px;
  }
  .drop-down-custom .dropdown-toggle::after {
    display: inline-block;
    margin-left: 11px;
    content: "";
    border-bottom: 0.3em solid #000;
    border-right: 0.3em solid transparent;
    border-top: 0;
}
.drop-down-custom .btn-primary.dropdown-toggle{
  background: transparent !important;
}
.drop-down-custom .btn-primary:hover{
  background: transparent !important;
  color: #969696 !important;
}
.drop-down-custom .btn-primary.dropdown-toggle{
  color: #969696 !important;
}
.drop-down-custom .dropdown-menu {
  padding: 6px;
  border: solid 1px#fff;box-shadow: 0px 1px 10px #c9c9c9;
  
}
.btn:focus{
 box-shadow: none !important;
}
.form-control:focus {
  box-shadow: none !important;border-color:transparent !important;background: #ebebeb !important;
}

p{
  font-family: segoeui;
}
h1,h2,h3,h4,h5,h6{
  color: #707070;
}
.mpt-0{
  top: 0px !important;
}
.all-top-shape {
  width: 100%;
  height: 390px;
  position: relative;
}
.all-top-shape img {
  width: 100%;
  height: 390px; 
}
.all-top-shape h1{
  font-family: GothamRounded;
    font-size: 51px;
    position: absolute;
    top: 10%;
    text-align: center;
    width: 100%;
    color: #fff;
}
p.all-top-title {
  top: -257px;
  position: relative;
  font-size: 20px;
}


.all-container-inner {
    width: 700px;
    margin: auto;
    margin-top: -190px;
    padding-left:32px;
}
/* modal css */
.custom-all-modal .modal-content {
  border: 0px;
  box-shadow: 0px 3px 27px #89898b;
  border-radius: 28px;
  background:#fff url(../src/assets/images/modal.png) no-repeat right bottom;
}
  
.custom-all-modal .modal-header {
  border-bottom: 1px solid #97c1f3;
    padding-bottom: 10px;
    padding-top:15px;
}
.custom-all-modal .modal-header .modal-title{
  text-align: center;
    width: 100%;
    margin: 0px;
    top: 3px;
    position: relative;
    font-size: 28px;
}

div.modal-all-width{
  max-width: 354px;
}

input.form-custom{
  background-color: #ebebeb;
  border: 0px;
  border-radius: 40px;
  height: 46px;
  font-size: 16px;
  font-family: segoeui;
  padding-left: 20px;
  
}

select.form-custom{
  background-color: #ebebeb;
  border: 0px;
  border-radius: 40px;
  height: 46px;
  font-size: 16px;
  font-family: segoeui;
  padding-left: 20px;
  
}
.form-check label {
  font-family: segoeui;
  color: #707070;
  font-size: 16px;
  top: 4px;
  position: relative;
  left: 6px;
}
p.forget-p {
  font-family: segoeui;
  color: #707070;
  font-size: 16px;
  top: 5px;
  text-align: right;
  position: relative;
}
.modal-all-padding{
  width: 94%;
  margin: auto;
}
h4.notice-h4 {
  font-family: segoeui;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 12px;
}
p.notice-p {
  font-size: 16px;
    line-height: 25px;
    color: #707070;
    margin-bottom: 8px;
}
.check-long label{
  font-size: 14px;
  line-height: 15px;
  /* top: 7px;
  position: relative; */
}
.space-all-modal-top {
  top: 85px;
}
.margin-all-modal-btn{
  margin-top: 0px  !important;
} 
.row-custom-width{
  width: 62%;
}
.search-btn-filter {
  min-width: 243px !important;
}
.search-btn-filter2 {
  min-width: 220px !important;
}
/* ================================inneer page css===================================*/
.all-container{
  width: 100%;
  float: left;
  background: url(../src/assets/images/footerbg.png) no-repeat bottom right;
}
.page-wrapper-all {
  width: 100%;
  position: relative;
}
.pageWrapper-inner {
  max-width:100%;
  font-family: 'Open Sans', sans-serif;
  margin-top: -32px !important;
}
.labelForm {
  width: 100%;
  float: left;
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 16px; color: #000;
}
button.formBtn{
  padding: 12px 34px;
  font-size: 17px;
  border-radius: 6px;
  border: 0px;background: #ebebeb;
  margin-right: 10px; color: #000;
  float: left;min-width: 114px;margin-bottom: 12px;
}



button.formBtn:hover{
  background: #bdd9f3 !important; color: #000;
}
.activebtn {
  background: #bdd9f3 !important;
}

/* active check all */
.all-select-btn{
  padding: 0px !important;
}
.all-select-btn input[type="checkbox"] {
  display: none;
}
.all-select-btn input[type="checkbox"] + label {
  display: inline-block;
  cursor: pointer;   
  border-radius: 6px;
   padding: 12px 30px;
}
.all-select-btn input[type="checkbox"]:checked + label {
  background: #d6c9fe;width: 100%;
}
.all-select-btnr {
  padding: 0px !important;
}
.all-select-btnr input[type="radio"] {
  display: none;
}
.all-select-btnr input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;   
  border-radius: 6px;
   padding: 12px 32px;
}
.all-select-btnr input[type="radio"]:checked + label {
  background: #bdd9f3;width: 100%;
}


button.formBtn:active{
  background: #d6c9fe !important; color: #000; 
}
button.formBtn:focus{
  background: #ebebeb !important; color: #000; 
}

.form-custom-inner {
  border-color: #627280 !important;
  font-weight: bold;
  font-size: 17px;
  min-height: 50px;
}
.brder-form{
  background:url(../src/assets/images/arrowsu.svg) no-repeat right center !important;
  font-weight: bold !important;
    font-size: 15px !important;
}
/* covid-modal */
.covid-modal{
  font-family: 'Open Sans', sans-serif !important;
}
.covid-radio label.form-check-label {
  top: 0px;
  left: 0px;
  color: #000;
  font-size: 16px;
}
.form-radio-space .form-check{
  margin-right: 29%;
}
.covid-modal-area {
   top:29%; max-width: 354px !important;
}
.all-user-pic {
  margin-bottom: 130px;
}

.all-privacy-and-others{
  width: 90%;
  margin: auto;
  margin-top: -344px;
  padding: 32px;font-family: segoeui;
  background: #fff;
  min-height: 400px;
  position: relative;
  border-radius: 12px;
  /* box-shadow: 0px 0px 5px #626262; */
}
.all-privacy-and-others h6 {
  /* color: #000; */
  width: 100%;
  float: left;
  margin-bottom: 21px;
  font-weight: bold;
  font-size: 18px;
}
.all-privacy-and-others h3 {
  width: 100%;
  float: left;
  margin-bottom: 9px;
  margin-top: 10px; color: #000;
}
.all-privacy-and-others p {
  width: 100%;    font-size: 19px;
  float: left;line-height: 28px;
  color: #707070;
}
ul.privacy-ul {
  width: 100%;
  float: left;margin-bottom: 0px;
  list-style: none;
  padding: 10px;
}
ul.privacy-ul li {
  width: 100%;
  float: left;    font-size: 19px;
  margin-bottom: 16px; color: #707070;
  line-height: 28px;
}
.all-privacy-and-others h5 {
  width: 100%;    font-size: 22px;
  float: left;line-height: 28px;
  color: #000;
}
.all-privacy-and-others label {
  width: 100%;
  font-size: 20px;
}
label.mail-p {
  color: #ac86ff;
}
.setting-area {
  width: 1020px;
  padding: 32px;
  font-family: segoeui;
  background: #fff; margin-top: -244px;
  min-height: 370px;
  position: relative;
  border-radius: 12px;
  /* box-shadow: 0px 0px 5px #626262;  */
  margin-bottom: 260px;
}
img.seac-map {
  max-width: 470px;
}
p.p-up-loc {
  color: #707070;
  font-size:20px; line-height: 26px;
}
.input-settings {
  border-color: #959595 !important;
  margin-top: 16px;
  height: 47px;
  border-radius: 60px !important;padding-left: 43px !important;font-size: 17px !important;
}
.input-settings:focus{
  border-color: #959595 !important; background-color: #fff !important;

}
button.settings-btn {
  width: 100%;
  height: 47px;
  border-radius: 40px;
  color: #fff;
  border: 0px; font-size: 18px;
  background: linear-gradient(to right, #6d43ff 0%, #8d46ff 100%);
}
button.settings-btn:hover{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#54a1fc+3,74adef+100,74adef+100 */
  background: -moz-linear-gradient(to right, #8d46ff 0%, #6d43ff 100%);
	background: -webkit-linear-gradient(to right, #8d46ff 0%, #6d43ff 100%);
	background: -ms-linear-gradient( to right, #8d46ff 0%, #6d43ff 100%);
    background:linear-gradient(to right, #8d46ff 0%, #6d43ff 100%);  
    border: solid;

}

/* left-panel-allpages */
.left-panel-allpages{
  width: 100%;
  margin-top: -344px;
  float: left;
}
.top-user-id {
  width: 100%;
  float: left;
  background: #fff;
  padding: 20px;
  border-radius: 14px;
}
.top-user-id h5 {
  color: #9272fd;
}
.top-user-id h4 {
  color: #000;
  font-size: 29px;
  margin-top: 13px;
  margin-bottom: 0px;
}
.user-type-left {
  width: 100%;
  float: left;
  background: #fff;
  border: solid 1px #ebecec;
  margin-top: 20px;
  border-radius: 14px;
  padding: 20px;
  padding-bottom: 12px;
}
ul.list-user-type {
  width: 100%;
  float: left;
  list-style: none;
  padding: 0px; margin: 0px;
}
ul.list-user-type li {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
ul.list-user-type li:last-child{
  border-bottom: 0px;
}
.user-left-profile {
  width: 60px;
  height: 60px;
  float: left;
}
.user-left-profile img {
  width: 100%;
  height: 60px;
  object-fit: cover;
  border-radius: 100px;
}
.user-type-left h6 {
  font-size: 21px;
  color: #000;
  padding-bottom: 20px;
  border-bottom: solid 1px #ebecec;
  font-family: segoeui;
  margin-bottom: 21px;
}
.user-right-details {
  width: 66%;
  float: left;
  margin-left: 5%;
}
.user-right-details h4 {
  font-size: 15px;
  /* font-family: segoeui; */
  font-weight: bold;
  color: #222932;
  margin-top: 13px;
  margin-bottom: 0px;
}
.user-right-details span {
  float: left;
  width: 100%;
  color: #9c9ca8;
  font-family: segoeui;
  font-size: 14px;
}
ul.list-user-type li a:hover h4 {
  color:#378ddd;
}

.add-banner-left {
  width: 100%;
  float: left;
  background: #fff;
  border: solid 1px #ebecec;
  margin-top: 20px;
  border-radius: 14px;
  padding-bottom: 12px;
  min-height: 330px;
}
.margin-auto-all{
  float: none;
  margin: auto;
  width: 73% !important;
}
.search-fil-width{
  max-width: 640px;
}

/* position-top-all */
.position-top-all{
  margin-top: 50px;
}
.margin-bottom-step{
  height: 100vh; background: #fff;
}
.app-p {
  font-family: 'Roboto';
  font-size: 19px;
}
  .app-p img {
    width: 60px;
    height: 72px;
    object-fit: cover;

}
button.btn-app-link {
  width: 190px;
  border: 0px;
  background: transparent;
  padding: 0px; margin-right: 10px;
}
button.btn-app-link img {
  width: 100%;
  object-fit: contain;
}
button.btn-app-link:hover{
  opacity: .8; background-color: transparent;
}
.margin-bottom-step .setting-area{
  margin-bottom:0px;
}
.all-shape-inner {
  position: absolute;
  top: 0px;
}
.shape-footer-all {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.covid-p {
  font-size: 18px;
  color: #707070;
}
.form-radio-covid {
  width: 100%;
  margin: auto;
  text-align: center;
}

.form-radio-covid .form-check-inline {
  margin-right: 4%;
  margin-left: 2%;
}
.form-radio-covid  .form-check label {
  top: 0px;
  left: 2px;
}
.mtb-all-margin {
  margin-top: 23% !important;
  margin-bottom: 11% !important;
}
span.span-style {
  font-style: initial;
  color: #848484;
}
.about-field-style label{
font-weight: bold; font-size: 18px; color: rgb(100, 99, 99);

}
.full-width{
  width: 100% !important;
}
.search-filter-h4{
  color: #000;
}
h4.sarch-sub-deading {
  font-size: 22px;
  color: #000;
  margin-bottom: 14px;
}
.all-margin-connection {
  width: 90.5% !important;
  margin: auto;
}

.here-for input[type="radio"] + label{
  padding: 12px 15px;
}
/* ++++++++++++++++++++++++++++++++++++responsive css +++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++*/
@media (min-width:200px) and (max-width:1399px) {
  .photo-list-all-media ul li {
    width: 130px !important;
  }
  .container {
    max-width: 96% !important;
  }
}
@media (min-width:200px) and (max-width:1395px) {

.text-media2{
  width: 100% !important;
}
.custom-8-grid{
  margin: auto;
}
.all-container{
  padding-bottom: 120px;
}
}
@media (min-width:200px) and (max-width:1348px) {
  .width-cons{
    width: 100% !important; 
  }
}

@media (min-width:200px) and (max-width:1020px) {
  .setting-area{
    width: 96%;
  }
  .shape-footer-all{
    position: relative; 
    float: right;
  }
  .profile-image img{
    object-fit: cover;
  }
  .row-custom-width {
    width: 100% !important;
}
}
@media (min-width:200px) and (max-width:784px) {
.width-cons{
  width: 300px !important;
  float: none !important;
  margin: auto;
}
.width-cons ul {
  width: 108% !important;
}
.width-cons ul  li {
  margin-right: 4.9% !important;
}
}
@media (min-width:200px) and (max-width:767px) {
.row-custom-width {
  width: 100%;
}
.input-head {
  height: 60px;
  padding-top: 0px;
}
.flex-direction-custom {
  flex-direction: column-reverse!important;
}
.custom-4-grid {
  max-width: 290px !important;
  margin: auto;
  margin-bottom: 42px;
}
.all-container {
  padding-bottom: 190px;
}
aside.left-aside {
  width: 108% !important;
}
.left-panel-allpages{
  margin-top: -20px;
}
aside.left-aside {
  width: 108%;
}
.profile-user-details {
  width: 109% !important;
}
.p0-all{
  padding: 0px;
}
.m0-all{
  margin: 0px;
}
.profile-details-area {
  padding-right: 0px;
}
.all-user-btn .btn {
  width: 42%;
  height: 150px !important;
  margin-right: 1% !important;
    margin-left: 3%  !important;
}
.all-user-btn {
  padding-top: 50px !important;
  width: 109% !important;
  margin-bottom: 50px;
  left: 9%;
  position: relative;
}
.all-user-btn span {
  font-size: 20px;

}
.mt-profile {
  margin-top: 0px !important;
}
.mt-profile .all-user-btn {
  left: inherit;
}
.profile-detaild-middle {
  margin-top: 39px;
}
.my-photo-block ul {
  width: 45% !important;
  margin-right: 5% !important;
}
.my-photo-block {
  margin-bottom: 50px;
}
.date-profile-top p{
  position: inherit; margin-bottom: 0px;
}
.date-profile-top .last-online{
  position: inherit;
}
.date-profile-top {
  width: 90%;
  border: solid 1px #f3f3f3;
  padding: 12px;
  border-radius: 80px;
  margin-top: 40px !important;
  margin-bottom: 50px;margin-left: 7%;
}
.middile-part-profile {
  width: 100% !important;
  left: 3.5% !important;
  position: relative;
  margin-top: 42px;
}
.all-user-btn .btn {
  margin-bottom: 24px !important;
}
.my-photo-block ul li img {
  height: 280px;
}
button.btn-edit2{
  top: -5px !important;
}
.responise-flex-column-reverse {
  -ms-flex-direction: column-reverse!important;
  flex-direction: column-reverse!important;
}
.margin-top-sear-filter{
  margin-top: -344px !important;
}
.width-full-responsive{
  max-width: 100% !important;
}
.pl-r-pr-r {
  padding-left: 22px !important;
  padding-right: 22px !important;
}
div.mt-1-res {
  margin-top: 3px !important;
}
div.mar-top-8{
  margin-top: 8px !important;
}
div.pl-13px{
  padding-left: 13px !important;padding-right: 0px !important;
}
.left-panel-allpages-search{
  margin-top: -100px !important;
  left: 2%;
    position: relative;
}
.mb-0-see{
  margin-bottom: 30px !important;
}
}

@media (min-width:200px) and (max-width:740px) {
.profile-pic-user {
  left: 4%;
  position: relative;
}

}

@media (min-width:200px) and (max-width:726px) {
.photo-list-all-media ul {
  left: 17%;
}
.text-media2 {
  width: 94% !important;
}
.pl-r-pr-r {
  padding-right: 0px !important;
}
.width-extra{
  width: 103% !important;
}
body{
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
}
}


@media (min-width:200px) and (max-width:700px) {
.all-title-top h4 {
  font-size: 32px;
}
.covid-p {
  font-size: 16px;
}
.form-check label {
  font-size: 15px;
}
.m-0-responsive{
  margin: 00px !important;
}
button.all-btn-round{
  width: 320px;
}
.bg-all-pages{
  padding-left: 0px;
  padding-right: 0px;
}
.all-select-btnr input[type="radio"] + label {
  padding: 12px 15px;
  font-size: 16px;
}
button.btn-app-link{
  margin-bottom: 7px;
}

.my-photo-block ul {
  width: 100% !important;
  margin-right: 0% !important;
  margin-bottom: 24px !important; 
}
.my-photo-block ul li img {
  height: 350px !important;

}
.similar-user {
  padding-top: 20px;
}
.simler-user-details {
  width: 70%;
}
ul.ul-looking-for li span {
  font-size: 15px !important;
  margin-top: 15px;    width: 72%; text-align: left;
}
p.all-top-title {
  padding-left: 12px;
  padding-right: 12px;
}
.photo-list-all-media ul {
  left: 4% !important;
}
}

@media (min-width: 200px) and (max-width: 651px){
.photo-list-all-media ul {
    padding-left: 12% !important;
}
}
@media (min-width: 200px) and (max-width: 570px){
.photo-list-all-media ul {
  padding-left: 7% !important;
}
.pl-r-pr-r {
  padding-right: 0px !important;
}
h2.navLogo img {
  width: 150px;
}
}

@media (min-width:200px) and (max-width:550px) {
  .pr-seti {
    padding-right: 13px !important;
}
  button.all-btn-round{
    width: 250px;
  }
  .app-p {
    font-size: 15px;
}
.pr-seti {
  padding-right: 0px !important;
}
.mb-0-see{
  width: 103% !important;
}
.container {
  max-width: 100% !important;
  padding-right: 0px !important;
}
.caption-area {
  width: 300px !important;
}
.pr-0-custom-res{
  padding-right: 0px;
}
.similar-user {
  width: 96% !important;
}
.popup-modal-viewer {
  width: 322px !important;
}
.main-view-image img {
  height: 316px !important;
}
.send-message-user2 p input {
  width: 180px !important;
}
.send-message-user2 button {
  width: 100px !important;
  font-size: 13px !important;
  padding: 0px !important;
}
.h3-all-title {
  font-size: 20px;
}
span.send-span {
  width: 34px;
  height: 34px;
  right: 7px;
  top: 12px;
  font-size: 23px;
}
.main-view-image img{
  width: 100% !important;
}
.con-width-all{
  width: 103.5% !important;
}
.con-wid-lepa{
  width: 103% !important;
}
}
@media (min-width: 200px) and (max-width: 522px){
.photo-list-all-media ul {

    padding-left: 6% !important;
}
}
@media (min-width:200px) and (max-width:500px) {
aside.left-aside {
  width: 108% !important;
}
.my-photo-block ul li img {
  height: 250px !important;
}
.photo-list-all-media ul {
  left:1% !important;
}
h1.for-h1 {
  font-size: 30px;
}
.for-got-area{
  margin-top: -284px !important; 
}
}
@media (min-width: 200px) and (max-width: 484px){
.photo-list-all-media ul {
    padding-left: 4% !important;
}
}
@media (min-width:200px) and (max-width:482px) {
.photo-list-all-media ul {
  left: 4% !important;
}
}

@media (min-width: 200px) and (max-width: 470px){
.photo-list-all-media ul {
    padding-left: 1% !important;
    width: 300px !important;  margin: auto;
}
.middile-part-profile {
  left: 5.5% !important;
}
}
@media (min-width:200px) and (max-width:400px) {
table.verify-code-table{
  right: 3px;
}
.about-field-style {
  width: 114% !important;
}
button.formBtn {
  min-width: 100% !important; 

}
ul.ul-looking-for li span {
  width: 100%;
  margin-top: 0px !important;
}
.about-field-area {
  left: -2% !important;
}
.pr-0-responsive{
  padding-right: 0px !important;
}
.body-type-btn{
  padding-right: 0px !important;
}
.kid-btn {
  padding-right: 0px;
}
}
@media (min-width:200px) and (max-width:370px) {
.caption-area {
  width:280px !important;
}
.photo-list-all ul li {
  width: 125px !important;
  height: 125px !important;
  left: 16px !important;
  position: relative !important;
}
}
@media (min-width:200px) and (max-width:360px) {
  table.verify-code-table{
    right: 15px;
  }

  }